.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
/.idea/workspace.xml
/.idea/libraries/Gradle__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Gradle__com_beust_jcommander_1_48.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_3_1.xml
/.idea/libraries/Gradle__com_google_guava_guava_19_0.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_9.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__io_netty_netty_3_5_7_Final.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_4_1_0.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_platform_4_1_0.xml
/.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_1.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_3.xml
/.idea/libraries/Gradle__org_beanshell_bsh_2_0b4.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_leg_rc_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_2_53_0.xml
/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_2_53_0.xml
